/* basic elements */
html {
	margin: 0;
	padding: 0;
	height: 100%;
	}

body { 
	font: georgia, sans-serif;
	line-height: 1.88889;
	font-size: 100%;
	color: #555753; 
	}
/*-------------------------------------------------------insertion font*/
@font-face 
	{
	font-family: "chalk";
	src: url("font/coloredcrayons.ttf");
	}
/*----------------------------------------------------------Page de connection*/
div.page_connexion{
}
.tableau_connexion{
	margin:auto;
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-100%); /* tiré de la moitié de sa propre hauteur */
	border: 1px solid black;
	padding: 10px;
	background-color: #CCDDEE;
}
.tableau_connexion{
	font-family: verdana;
}
/*----------------------------------------------------------éléments classiques*/
.underlined{
	text-decoration: underline; 
}
.bigtitle{
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}
.italique{
	font-style: italic;
}
.justify_right{
	text-align: right;
}
.justify_center{
	text-align: center;
}
.justify_left{
	text-align: left;
}
.caption_center{
	text-decoration: underline;
}
/*-------------------------------------------------------------------Les liens */
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF; 
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

/*------------------------------------------------Éléments de la page*/
.corps {
	margin-top: 50px;
	margin-bottom: 50px;
	position: absolute;
	left: 400px;
	top: 50px;
	padding: auto;
}

/*Trois sections du cadre*/
#menu {
/*	position: fixed;*/
	text-align: left;
	width: 250px;
	height: 100%;
	padding: 10px;
	margin-top: 70px;
	border: 1px;
	position: fixed;
	top: 0;
	left: 0; 
	right: 0;
	background-color: #FFFFFF; 
	z-index: 1;
}

#tete {
	height: 70px;
	position: fixed;
	top:0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 1;
	background-color: #FFFFFF;  

}

#pied{
	position: fixed;
	bottom: 0;
	left: 0; 
	right: 0;
	text-align: center;
	height: 50px;
	background-color: #FFFFFF;
	z-index: 1;
}
/*---------------------------------------------------page en construction*/
.encours {
	width:100%;
	text-align: center;
	margin:auto;
	margin-top: 30vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-100%); /* tiré de 100% de sa propre hauteur */
}
/*------------------------------------------------------page réservation*/
.flex_formulaire {
/*    height: 100%;*/
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    /*justify-content: space-between;*/
} 
.formulaire_resa{
	border-style: solid;
 	position: relative;
	max-width: 700px;
	padding: 20px;
	font-family: cursive;
	text-align: center;
	max-height: 50%;
	order: 2;
	flex:2;
	margin-bottom: 80px;
}
.resume_resa{
	font-family: cursive;
	border-collapse: collapse;
	max-width: 1000px;
	order: 3;
	margin-right: 20px;
	margin-bottom: 250px;
}
.almanach{
	margin-right: 20px;
	max-width: 50%;
	min-height: 50%;
	order: 1;
	margin-bottom: 80px;
}
.tableau_noir{
	order: 4;
	padding-left: 50px;
	width: 350px;
	margin-left: 200px;
	padding-bottom: 00px;
	padding-top: 10px;
	align-self: right;
	background-image : url(img/blackboard.jpg);
	background-repeat:no-repeat;
	border-collapse: collapse;
	transform: matrix(1, 0.05, 0, 1, 0, -200);
}
.tarifs{
}
.tableau_noir th{
	text-decoration: underline;
	justify-content: center;
	color: white;
	font-family: "chalk";
	font-size: x-large;
}
.tableau_noir td{
	padding:0;
	color: white;
	font-family: "chalk";
	font-size: 100%;
}
/*-----------------------------------------------page mon compte*/
/*.flex_vertical{
	display: flex;
	flex-direction: column;
}*/
.infos_persos{
	width: 500px;
	margin-right: 80px;
}
.resume_resa_moncompte{
	border-collapse: collapse;
	font-family: cursive;	
	margin-bottom: 50px; 
}
/*------------------------------------------------page gestion*/
.ensemble_gauche{
	order: 1;
	width: auto;
	margin-right: 100px;
	margin-bottom: 80px;
}
.event_officiel{
	margin: auto;
	margin-bottom: 100px;
}
.formulaire_edition {
	height: 600px;
	border: 1px solid black;
	padding: 15px;
	font-family: cursive;
	text-align: center;
	max-width: 700px;
	padding-top: 0;
	order: 2;
}
/*-----------------------------------------------tableau de gestion*/
.gestion {
	border-width:1px; 
	border-style:solid; 
	border-color:black;
	text-align: center;
	border-collapse:collapse;
}
.gestion td {
/*	border-bottom-style: dotted;
	border-right-style: dotted; */
/*	width: 200px; */
/*	padding-left: 10px;*/
}

.gestion th{
	font-size: 90%;
 	border-width: 1px;
 	border-style: solid; 
 	border-color: red;
}
 .type_adhesion{
 	width: 300px;
 }
.titre_tableau{
	font-family: cursive;
	text-decoration: underline;
	font-weight: bold;
}
/*--------------------------------------------------Page d'accueil*/
.formulaire_cote {
	height: 350px;
	border: 1px solid black;
	padding: 20px;
	font-family: cursive;
	text-align: center;
	max-width: 500px;
	padding-top: 0;
	order: 2;
}
.formulaire_cote textarea {
	width: 100%;
	height: 200px;
}
/*-------------------------------------------------------------news*/
.section_news{
	margin-right: 80px;
	order:1;
}
.titre_news{
	font-size:110%;
	border-top: solid red 1px;
}
.msg_news{
	font-family: cursive;
}
.sign_news{
	font-size:70%;
	font-style: italic;
}
/*--------------------------------------------------boite à idées*/
.formulaire_idees{
	width: 500px;
	margin-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	border-width:1px; 
	border-style:solid; 
	border-color:black;
	padding: 20px;
}
.formulaire_idees textarea {
	width: 100%;
	height: 200px;
}
.livre{
	order: 4;
	width: 50%;
}
.idees{
	order: 5;
	width: 50%;
	border-collapse:collapse;
}
.idees th, .idees td{
	border-width: 1px;
  	border-style: solid; 
 	border-color: red;
 	border-width: 1px;
 	border-style: solid; 
 	border-color: red;
 	padding-right: 5px;
 	padding-left: 5px;
	font-size: 90%;
}
/*-----------------------------------------------style des cellules*/
.cell_left{
	border-left-width: 1px;
  	border-left-style: solid; 
 	border-left-color: red;
 	border-bottom-width: 1px;
 	border-bottom-style: solid; 
 	border-bottom-color: red;
 	padding-right: 5px;
 	padding-left: 5px;
	font-size: 90%;
}
.cell_right{
	border-right-width: 1px;
 	border-right-style: solid; 
 	border-right-color: red;
 	border-bottom-width: 1px;
 	border-bottom-style: solid; 
 	border-bottom-color: red;
 	padding-right: 3px;
 	padding-left: 3px;
	font-size: 90%;
}
.cell_none{
 	border-bottom-width: 1px;
 	border-bottom-style: solid; 
 	border-bottom-color: red;
 	padding-right: 5px;
 	padding-left: 5px;
	font-size: 90%;
}

/*------------------------------------------------------------------calendar*/
/* CSS Document */
.calendar {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .6em;
	}
.legende{	
	margin: 2;
	padding: 2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .6em;
}
/*style des bandeaux de mois*/
.calendar caption {
	margin: 0;
	padding: .3em 0;
	background: #05B484;
	border-radius: 7px 7px 0px 0px; /*arrondit les angles*/
	}
/*cellule des jours de la semaine*/
.calendar th {
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	background: #fff;
	}
.calendar td  {
	border: 1px solid #fff;
	padding: .1em .3em ;
	width: 1em;
	text-align: center;
	}
.calendar a {
	color: #000;
	text-decoration: none;
	}
/*style des highlights*/
.calendar td.today, .legende td.today {
	background: #ffc;
	border-radius: 5px 5px 5px 5px;
	}
.calendar td.selected, .legende td.selected {
	border: 1px dotted #ff7800;
	border-radius: 5px 5px 5px 5px;
	}
/*couleur des events*/
.calendar td.red_light, .legende td.red_light {
	background: #FEE050;
	border-radius: 5px 5px 5px 5px;
}
.calendar td.red_medium, .legende td.red_medium {
	background: #FEB05F;
	border-radius: 5px 5px 5px 5px;
}
.calendar td.red_dark, .legende td.red_dark {
	background: #FE1017;
	border-radius: 5px 5px 5px 5px;
}
.calendar td.privatised, .legende td.privatised {
	background: #6495ed;
	border-radius: 5px 5px 5px 5px;
	/*color: white;*/
	}
.calendar td.official, .legende td.official {
	background: #90ee90;
	border-radius: 5px 5px 5px 5px;
}
/*jours passés*/
.calendar td.passed, .calendar td.passed:hover, .legende td.passed {
	background-color: gray;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(255,255,255,.5) 1px, rgba(255,255,255,.5) 4px);background-color: gray;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(255,255,255,.5) 1px, rgba(255,255,255,.5) 4px);
	border: none;
	border-radius: 5px 5px 5px 5px;
	cursor : default;
}
/*couleur des cases du week-end*/
.samedi, .dimanche {
	background: #f0f0f0;
	border-radius: 5px 5px 5px 5px;
}
/* passer la souris sur une case*/	
.calendar td:hover, .calendar td.today:hover, 
.calendar td.selected:hover, .calendar td.privatised:hover, .calendar td.official:hover {
	background: #cff;
	border: 1px solid #09f;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
	}
.legende caption{
	text-decoration: underline;
}
.legende td.official, .legende td.privatised, .legende td.red_dark, .legende td.red_medium, .legende td.red_light{
	border: 1px solid #fff;
	min-width: 8px;
	text-align: center;
}
.legende td.legende_element, .legende td.underlined{
	padding-right: 5px;
}
/*infobulles*/
.infobulle {
  position: relative;  /* les .infobulle deviennent référents */
  cursor: help;
}

/* on génère un élément :after lors du survol et du focus :*/

.infobulle:hover::after,
.infobulle:focus::after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne */
  background-color: silver;
}
/*pad : dernières cases vides*/
table.calendar td.pad {
	color: #999;
	background: #fff;
	}
table.calendar td.pad:hover {
	background: #fff;
	border: 0;
	cursor: default;
	}
/*disposition des douze blocs*/
#year {
	padding: 0;
	width: 100%;
	max-width: 1000px;
	list-style: none;
	padding-bottom: 10px;
	margin-right: 500px;
	flex-wrap: wrap;
	}
#year:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
/* disposition d'un bloc mois*/
#year li {
	float: left;
	padding: 0 .5em .5em 0;
	height: 150px;
	margin-bottom: 55px;
	}
